* {
  font-family: "Inter";
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 1400px;
}

.cool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
}

.cool-title {
  margin: 0 auto;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
}

.cool-list {
  display: flex;
  gap: 20px;
}

.cool-item svg {
  width: 20px;
  height: 20px;
}

.nav {
  background-color: rgb(18, 18, 18);
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: start;
  gap: 75px;
}

.nav-link {
  color: #fff;
}

.buy {
  padding: 50px;
  display: flex;
  gap: 15px;
}

.buy-photo {
  display: flex;
  gap: 15px;
}

.buy-photo-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buy-photo-img {
  width: 130px;
  height: 170px;
}

.photo-active {
  border: 1px solid rgb(169, 160, 160);
}

.buy-main-photo {
  width: 550px;
  height: 723px;
}

.buy-description {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.way {
  position: relative;
  bottom: -25px;
  left: 60px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  color: #A9A0A0;
}

.buy-description-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  text-align: left;
  text-transform: uppercase;
  width: 625px;
}

.buy-description-available {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: #2B13B5;
  align-self: end;
}

.buy-color-list {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.buy-color-btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
}

.black {
  background-color: #121212;
}

.white {
  background-color: #D9D3D3;
}

.green {
  background-color: #AAE5AC;
}

.pink {
  background-color: #F5CCE9;
}

.gold {
  background-color: #F1C97F;
}

.blue {
  background-color: #8AC3F1;
}

.color-active {
  border: 5px solid white;
  outline: 1px solid #A9A0A0;
}

.buy-description-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  color: #817575;
}

.buy-memory-list {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.buy-btn {
  width: 100px;
  height: 50px;
  border: 1px solid #A9A0A0;
  background: none;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  color: #121212;
}

.btn-active {
  color: #fff;
  background-color: #2B13B5;
  border: none;
}

.buy-version-list {
  display: flex;
  gap: 50px;
}

.version {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}

.buy-list {
  display: flex;
  gap: 70px;
}

.add-to-cart {
  width: 265px;
  height: 60px;
  border: none;
  background-color: black;
  color: #F5F5F5;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-favourite {
  width: 265px;
  height: 60px;
  border: none;
  background-color: #f5f5f5;
  color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: rgb(18, 18, 18);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 195px;
}

.footer-title {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  width: 900px;
}

.footer-link {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
}/*# sourceMappingURL=main.css.map */