.buy {
    padding: 50px;
    display: flex;
    gap: 15px;
    margin-bottom: 100px;
}

.buy-photo {
    display: flex;
    gap: 15px;
}

.buy-photo-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buy-photo-img {
    width: 130px;
    height: 170px;
}

.photo-active {
    border: 1px solid rgba(169, 160, 160, 1);
}

.buy-main-photo {
    width: 550px;
    height: 723px;
}

.buy-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.way {
    position: relative;
    bottom: -25px;
    left: 60px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    color: #A9A0A0;
}

.buy-description-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    text-align: left;
    text-transform: uppercase;
    width: 625px;
}

.buy-description-available {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    color: #2B13B5;
    align-self: end;
}

.buy-color-list {
    display: flex;
    justify-content: center;
    gap: 50px;
}


.buy-color-btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
}

.black {
    background-color: #121212;
}

.white {
    background-color: #D9D3D3;
}

.green {
    background-color: #AAE5AC;
}

.pink {
    background-color: #F5CCE9;
}

.gold {
    background-color: #F1C97F;
}

.blue {
    background-color: #8AC3F1;
}

.color-active {
    border: 5px solid white;
    outline: 1px solid #A9A0A0;
}

.buy-description-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    color: #817575;
}

.buy-memory-list {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.buy-btn {
    width: 100px;
    height: 50px;
    border: 1px solid #A9A0A0;
    background: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    color: #121212;
}

.btn-active {
    color: #fff;
    background-color: #2B13B5;
    border: none;
}

.buy-version-list {
    display: flex;
    gap: 50px;
}

.version {
    display: flex;
    justify-content: space-between;
}

.price {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}

.buy-list {
    display: flex;
    gap: 70px;
}


.add-to-cart {
    width: 265px;
    height: 60px;
    border: none;
    background-color: black;
    color: #F5F5F5;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-favourite {
    width: 265px;
    height: 60px;
    border: none;
    background-color: #f5f5f5;
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-details-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buy-details-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.buy-details-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    color: #736A6A;
}

.accordion {
    width: 380px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    border-top: 3px solid #736A6A;
    outline: none;
    transition: 0.4s;
    background-color: #f5f5f5;

    &:last-of-type {
        border-bottom: 3px solid #736A6A;

    }

}

.active {
    width: 380px;
    border-bottom: none !important;

}

.accordion:hover {
    background-color: #ccc;
}

.panel {
    width: 380px;
    display: none;
    overflow: hidden;

    &:last-of-type {
        border-bottom: 3px solid #736A6A;

    }
}

.accordion:after {
    content: '\2228';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2227";
}