.footer {
    background-color: rgba(18, 18, 18, 1);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 195px;
    margin-top: 25px;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        padding-bottom: 15px;
        gap: 25px;
        height: auto;

        & .footer-list {
            flex-direction: column;
            align-items: center;
            gap: 25px;
        }
    }
}

.footer-title {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3
}

.footer-list {
    display: flex;
    justify-content: space-around;
    width: 900px;
}


.footer-link {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;

    &:hover {
        color: #2B13B5;
    }
}